body{
  font-family: 'Josefin Sans', sans-serif;
  margin: 10px;
}
#one{
  background-image: url("../img/backgrounds/landing.jpg");
  text-align: center;
  color: white;
}
#two{
  margin: 0;
  padding: 0;
}
#three{
  background-color: #F15A29;
  color: white;
}
#breakfast{
  background-image: url("../img/foodtop/breakfast.jpg");
  color: white;
  cursor: pointer;
}
#breakfast:hover{
  color: black;
}
#breakfast:hover{
  backgro
}
#lunch{
  background-image: url("../img/foodtop/lunch.jpg");
  color: white;
  cursor: pointer;
}
#lunch:hover{
  color:black;
}
#dinner{
  background-image: url("../img/foodtop/dinner.jpg");
  color: white;
  cursor: pointer;
}
#dinner:hover{
  color: black;
}
#food{
  padding: 0;
  margin: 15px;
}
#drinks{
  padding: 0;
  margin: 2px;
}
.email{
  text-align: center;
  background-image: url("../img/backgrounds/subscribe.jpg");
  color: white;
}
.emailbtn{
  background-color:#F15A29; 
}
