body{
  font-family: 'Josefin Sans', sans-serif;
  margin: 10px;
}
#one{
  background-image: url("../img/backgrounds/landing.jpg");
  text-align: center;
  color: white;
}
#two{
  margin: 0;
  padding: 0;
}
#three{
  background-color: #F15A29;
  color: white;
}
#breakfast{
  background-image: url("../img/foodtop/breakfast.jpg");
  color: white;
  cursor: pointer;
}
#breakfast:hover{
  color: black;
}
#breakfast:hover{
  backgro
}
#lunch{
  background-image: url("../img/foodtop/lunch.jpg");
  color: white;
  cursor: pointer;
}
#lunch:hover{
  color:black;
}
#dinner{
  background-image: url("../img/foodtop/dinner.jpg");
  color: white;
  cursor: pointer;
}
#dinner:hover{
  color: black;
}
#food{
  padding: 0;
  margin: 15px;
}
#drinks{
  padding-right: 10px
  margin: 0;
}

.email{
  text-align: center;
  background-image: url("../img/backgrounds/subscribe.jpg");
  color: white;
}
.emailbtn{
  background-color:#F15A29;
}
.foot{
  background-color: #F15A29;
  text-align: center;
  color: white;
}
.fhead{
  text-align: center;
}
.picha{
  color: #F15A29;
}
.mapicha{
  background-image: url("../img/backgrounds/foodsBg.jpg");
}
.sideNav {/*sidebar styling*/
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F15A29;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover {
    color: #f1f1f1;
}

.sideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#navbar{
  cursor: pointer;
}
