body{
  font-family: 'Josefin Sans', sans-serif;
  margin: 10px;
}
#one{
  background-image: url("../img/backgrounds/landing.jpg");
  text-align: center;
  color: white;
}
#two{
  margin: 0;
  padding: 0;
}
#three{
  background-color: #F15A29;
  color: white;
}
